<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.blog.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.blog.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="pid" property="pid" />
        <result column="delete_flag" property="deleteFlag" />

    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark, update_user, update_time, create_user, create_time, pid, delete_flag
    </sql>

    <select id="getRoleByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from from t_role r LEFT JOIN t_user_role ur on r.id = ur.role_id where ur.user_id = #{userId}
    </select>


</mapper>
